@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100;300&family=Poppins:wght@100;300;500&family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Estilos compartidos de navegadores */
header, footer {
    align-items: center;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul {
    display: flex;
    gap: 1em;
}

a {
    color:#F3F3F3;
    font-weight: 400;
    line-height: 19px;
}

/* footer  */
/* 
footer {
    bottom: 0;
    position: absolute;
    width: 100%;
} */

footer ul {
    flex-direction: column;
}

/* Estilos del contenido del section */

section {
    background-color: #f3f3f3;
    display: flex;
    gap: 0.2em;
    justify-content: center;
    padding: 3em 0;
    width: 100%;
}

.img-section {
    width: 48%;
}

article {
    align-items: center;
    background-color:#ffffff;
    display: flex;
    gap: 3.5em;
    justify-content: center;
    width: 48%;
}

.img-article {
    height: 129px;
    width: 92px;
}